.content-edit {
    width: 705px;
    height: 450px;
    padding: 20px;
    border: 1.5px solid rgba(22, 24, 35, 0.3);
    border-radius: 2px;
    outline: none;
}

.content {
    display: flex;
    justify-content: center;
}
