.wrapper {
    margin-top: 4px;
}
.add-minus-btn {
    outline: none;
    border: none;
    width: 100px;
    height: 30px;
    background-color: transparent;
    color: #007bff;
}

.add-minus-btn:hover {
    color: blue;
    text-decoration: underline;
}

.print-update {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.update-score-s {
    color: #007bff;
}

.update-score-s:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.btn-print {
    border: none;
    outline: none;
    background-color: transparent;

    :hover {
        opacity: 0.8;
    }
}

.icon-print {
    width: 25px;
    height: 25px;
    color: #000;
}

.main-modal {
    z-index: 1;
    margin-top: -292px;
    width: 92.5vw;
    height: 96vh;
    background-color: rgba(51, 62, 73, 0.09);
    display: flex;
    justify-content: center;
}

.wrapper-form {
    position: relative;
    top: -15%;
    padding: 24px 24px;
    box-shadow: 0 2px 5px 0 #b3b3b3;
    border-radius: 12px;
    width: 40%;
    min-height: 100px;
    background: white;
    align-self: center;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label {
    text-align: left;
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;

    &:hover {
        border-color: #1dbfaf;
    }
}

.save-btn,
.close-btn {
    display: block;
    position: relative;
}

.close-btn {
    left: 90%;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #fff;
    color: #868686;
    :hover {
        color: #000;
    }
}

.close-icon {
    width: 100%;
    height: 100%;
}

.save-btn {
    left: 75%;
    width: 120px;
    height: 38px;
    border: none;
    background-color: #007bff;
    border-radius: 4px;
    color: #f4f9ff;
    font-size: 1.7rem;
}
